# generic
*.swp
.DS_Store
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.mypy*
.vscode
*.pyc

# vision artefacts
*.weights
*.conv*

# build artifacts
build.Dockerfile
build.requirements.txt

# authentication files
credentials/**
.env

# other data
tags*
logfile.log

blacklists/**
whitelists/**
config/**

data/demo/3video/dancingonmyown.mov

data/demo/3video/info.json
