# generic
*.swp
.DS_Store
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.mypy*
.vscode
*.pyc

# vision artefacts
*.weights
*.conv*

# build artifacts
build.Dockerfile
build.requirements.txt

# server symlinks
src/server/elements/**

# authentication files
credentials/**
.env

