language: python
services: docker
before_install:
- pip install -r requirements.txt
- ./mtriage dev build
- ./mtriage dev build --gpu
script:
- cp .env.example .env
- touch credentials/google.json
- ./mtriage dev test
- black --check mtriage
- black --check test/
- black --check src/
after_success:
- bash scripts/travis_docker.sh
