language: python
services: docker
before_install:
- pip install -r requirements.txt
- python run.py build
script:
- python run.py test
- black --check run.py
- black --check src/
after_success:
- bash scripts/travis_docker.sh
